<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>My films</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/hover.zoom.js"></script>
    <script src="assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">MY FILMS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="addfilm.html">AGGIUNGI FILM</a></li>
            <li><a href="statistiche.html">STATISTICHE</a></li>
            
		  </ul>
		  
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	
	<!-- +++++ Projects Section +++++ -->
	
	<!-- +++++ Contact Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>AGGIUNGI FILM O SERIE TV</h3>
        <hr>
        <h4>recensisci l'ultimo film che hai visto</h4>
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				<form action="http://localhost:8080/film/form" method="GET"> 
				  <div class="form-group">
				    <input type="text" name="userid" class="form-control" id="NameInputEmail1" placeholder="il tuo nome" ng-model="x.userid" ng-required="true">
				    <br>
          </div>
          
          <div class="form-group">   
              <input type="text" name="title" class="form-control" id="NameInputEmail1" placeholder="Titolo"  ng-model="x.title" ng-required="true">
              <br>
            </div>
				  <div class="form-group">
				    <input type="text" name="year" class="form-control" id="exampleInputEmail1" placeholder="Anno" ng-model="x.year" ng-required="true">
				    <br>
				  </div>
				  <div class="form-group">
				    <input type="text" name="genre" class="form-control" id="subjectEmail1" placeholder="Genere" ng-model="x.genre" ng-required="true">
				    <br>
				  </div>
				  <textarea input type="text" name="review" class="form-control" rows="6" placeholder="Inserisci qui la tua recensione" ng-model="x.userid" ng-required="true" ></textarea>
				    <br>
				    <button type="submit"name="redirect" value="index.html" class="btn btn-success">SUBMIT</button>
				</form>    			
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">

			</div>
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
