<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>My films</title>

    
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/js/angular.min.js"></script>
   
    
    <!-- Custom styles for this template -->
     <link href="assets/css/main.css" rel="stylesheet"> 
    
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
  
</head>
<body ng-app="submitExample">

  <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.jsp">MY FILMS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="addfilm.html">AGGIUNGI FILM</a></li>
            <li><a href="statistiche.html">STATISTICHE</a></li>
            <li><a href="search.html">CERCA IMMAGINE</a></li>
                      
          </ul>
        </div><!--/.nav-collapse -->
     
                 <!-- INIZIO FORM -->
                                <form name="myForm" action="search.jsp" onsubmit="return validateForm()" method="get">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput" >Titolo</label>
            <input type="text" class="form-control mb-4" id="inlineFormInput" placeholder="Titolo" name="title" required>
          </div>
         
          <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Anno</label>
                <input id="anno" type="text" class="form-control mb-4" id="inlineFormInput"  placeholder="Anno" name="year">
              </div>
         <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">pagina</label>
                <input type="hidden" class="form-control mb-4" id="inlineFormInput" value="1" name="page">
              </div>
                   
       
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-4">Cerca</button>
          </div>
        </div>
      </form>
        
        <!-- FINE FORM -->
        
        
      </div>
    </div>
	
  <script>
  angular.module('submitExample', [])
    .controller('ExampleController', ['$scope','$http', function($scope,$http) {





      $scope.list = [];
      $scope.submit = function() {
        ;


        $scope.search = [
        {
          Title: "",
          Year: "",
          imdbID: "",
          Type: "",
          Poster: ""
        }
  ]
    $scope.errore='';
          $scope.title = '';
          $scope.review = '';
          $scope.year = '';
          $scope.poster = '';
        if ($scope.text) {
          $scope.list=(this.text);

          $scope.text = '';
          console.log($scope.list);
          var link='https://www.omdbapi.com/?s=';
          var fine='&apikey=5330e352';
          link=link.concat($scope.list,fine);
          console.log(link);
          $http({
    method : "GET",
      url : link
  }).then(function mySuccess(response) {
    $scope.mythings = response.data;

    if($scope.mythings.Response=="True")
    {
      $scope.poster = '';
    $scope.search=$scope.mythings.Search;
     

    }
    else{
      $scope.mythings = response.statusText;
          
          $scope.errore = 'errore non ho trovato quello che stai cercando';
          $scope.search = [
        {
          Title: "",
          Year: "",
          imdbID: "",
          Type: "",
          Poster: "ciak.jpg"
        }
  ]

  console.log($scope.search);
    }

  }, function myError(response) {

    // qui dentro non dovrei mai entrarci
    $scope.mythings = response.statusText;
    $scope.errore="non ho trovato quello che cerchi";
  });


        }
      } 
    }]);
</script>
<form ng-submit="submit()" ng-controller="ExampleController">

<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2"  ng-model="text" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>


  <div class="container" ">
  <!-- <div class="card" style="width:400px"> -->
    <!-- <img  ng-src="{{s.Poster}}" class="card-img-top"  alt="Card image" style="width:100%"> -->
    <div class="card-body" ng-repeat="s in search">
        <div class="card" style="width:400px">
        <a href="{{s.Poster}}" download>
            <img  ng-src="{{s.Poster}}" class="card-img-top" onerror="this.style.display = 'none'" alt="Card image" style="width:100%" >
      <h4 class="card-title">{{s.Title}}</h4>
      <p class="card-text">{{s.Year}}</p>
      <br >
      <br >
    </div>
  </div>
  </div>
  
  
  <h1>{{errore}}</h1>
</form>


	
<script>
function validateForm() {
  var x = document.forms["myForm"]["year"].value;
  if (isNaN(x)) {
	    alert("devi inserire un numero nel campo anno");
	    return false;
	  }
}
</script>

	  

  	  <script src="assets/js/bootstrap.min.js"></script>
  
</body>


</html>

<!-- 
Copyright 2019 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->